.window {
    width:400px;
    display: flex;
    flex-direction: column;
}
.header {
    font-size: 20px;
    width: 400px;
    padding-bottom: 25px;
}
.button {
    width: 100px;
    height: 100px;
}